In [1]:
import pandas as pd

In [2]:
yelp = pd.read_csv('../datasets/yelp_data_austin2.csv')

In [3]:
yelp.head()

,Unnamed: 0,business_id,name,address,postal_code,latitude,longitude,stars,review_count,hours,...,romantic,intimate,classy,hipster,divey,touristy,trendy,upscale,casual,full_bar
0,0,Xw8tuI30T-xihpzwBV-zJg,El Pollo Rey,1725 E Riverside Dr,78741.0,30.243493,-97.730141,5.0,11,{},...,False,False,False,False,False,False,False,False,False,False
1,1,NRPemqVb4qpWFF0Avq_6OQ,Eurasia Sushi Bar & Seafood,"7101 W Hwy 71, Ste C-13",78735.0,30.234533,-97.877262,4.5,395,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",...,True,False,True,False,False,False,True,False,True,True
2,2,bRsDZ44CD3uhGnRY3NeQhQ,Wendy's,6247 Mcneil Drive,78729.0,30.441875,-97.746581,2.0,46,"{'Monday': '6:30-1:0', 'Tuesday': '6:30-1:0', ...",...,False,False,False,False,False,False,False,False,False,False
3,3,z-0oY7VxQMQw3JHvdPejrA,Olmecas Mexican Restaurant,2121 E Oltorf St,78741.0,30.230016,-97.732639,3.0,21,"{'Monday': '7:0-23:30', 'Tuesday': '7:0-23:30'...",...,False,False,False,False,False,False,False,False,False,True
4,4,gjMCRTs0IZbw9bZLG837Bg,CaveMan Cuisine,NaN,78704.0,30.245673,-97.768836,1.5,6,{},...,True,True,True,True,True,True,True,True,True,False

In [6]:
yelp2 = yelp.applymap(lambda b: 1 if b is True else 0 if b is False else b)

In [7]:
yelp2.head()

,Unnamed: 0,business_id,name,address,postal_code,latitude,longitude,stars,review_count,hours,...,romantic,intimate,classy,hipster,divey,touristy,trendy,upscale,casual,full_bar
0,0,Xw8tuI30T-xihpzwBV-zJg,El Pollo Rey,1725 E Riverside Dr,78741.0,30.243493,-97.730141,5.0,11,{},...,0,0,0,0,0,0,0,0,0,0
1,1,NRPemqVb4qpWFF0Avq_6OQ,Eurasia Sushi Bar & Seafood,"7101 W Hwy 71, Ste C-13",78735.0,30.234533,-97.877262,4.5,395,"{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",...,1,0,1,0,0,0,1,0,1,1
2,2,bRsDZ44CD3uhGnRY3NeQhQ,Wendy's,6247 Mcneil Drive,78729.0,30.441875,-97.746581,2.0,46,"{'Monday': '6:30-1:0', 'Tuesday': '6:30-1:0', ...",...,0,0,0,0,0,0,0,0,0,0
3,3,z-0oY7VxQMQw3JHvdPejrA,Olmecas Mexican Restaurant,2121 E Oltorf St,78741.0,30.230016,-97.732639,3.0,21,"{'Monday': '7:0-23:30', 'Tuesday': '7:0-23:30'...",...,0,0,0,0,0,0,0,0,0,1
4,4,gjMCRTs0IZbw9bZLG837Bg,CaveMan Cuisine,NaN,78704.0,30.245673,-97.768836,1.5,6,{},...,1,1,1,1,1,1,1,1,1,0

In [8]:
yelp2.to_csv('../datasets/yelp_data_austin_final.csv')